﻿@model PagedDetailsView<Category, Item>
@inject WebSite.Services.Interfaces.INavDataProvider NavData
@{ 
    ViewBag.Title = Model.Model.Title + " | " + Model.Pages.Current;
}

<div class="row">
    <div class="col-xl-8 offset-xl-2 py-3 px-5">
        <h1 class="text-center"><i class="fas fa-th-list"></i> @Model.Model.Title</h1>
        <img class="w-100 my-2 border-info border-top border-bottom border-left border-right ???" src="@NavData.CategoriesDirectory@Model.Model.ImageUrl" />
        <p class="mt-2 h5">@Model.Model.Description</p>
    </div>
    <div class="col-12">
        <div class="row p-3">
            <h2 class="col-12 text-center"><i class="fas fa-th"></i> Related items</h2>
            <a name="start"></a>
            @foreach (Item item in Model.Pages.Items)
            {
                <div class="p-2 col-10 offset-1 offset-sm-0 col-sm-6 col-lg-3">
                    @await Html.PartialAsync("ItemCard", item)
                </div>
            }
            <div class="col-12 h4">
                @await Html.PartialAsync("Pages", Model.Pages)
            </div>
        </div>
    </div>
</div>