﻿@model Category
@{ 
    ViewBag.Title = (ViewBag.Adding ?? false == true ? "Add " : "Edit ") + "category";
}

<div class="row">
    <form class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 pt-2" method="post" enctype="multipart/form-data">
        @if (ViewBag.Adding ?? false == true)
        {
            <h2 class="text-center"><i class="fas fa-plus"></i> Add category</h2>
        }
        else
        {
            <h2 class="text-center"><i class="fas fa-edit"></i> Edit category #@Model.Id</h2>
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="hidden" name="ImageUrl" value="@Model.ImageUrl" />
        }
        <h5>Title</h5>
        <input asp-for="Title" class="form-control" />
        <span class="text-danger" asp-validation-for="Title"></span>
        <br />
        <h5>Description</h5>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
        <br />
        <h5>Change image (712x400 reccomended)</h5>
        <input type="file" name="image" class="form-control" />
        <span class="text-danger" asp-validation-for="ImageUrl"></span>
        <br />
        <button type="submit" class="form-control btn btn-info"><i class="fas fa-check"></i> Save</button>
        @if (ViewBag.Adding ?? false == false)
        {
            <br />
            <button type="button" class="mt-2 form-control btn btn-outline-danger" data-toggle="modal" data-target="#remove">
                <i class="fas fa-times"></i>
                Remove
            </button>
            @await Html.PartialAsync("RemoveDialog", new RemoveDialogView { BodyText = "Are you sure to remove category? All related items will be removed.", FormAction = "/Categories/Remove" })
        }
    </form>
</div>