﻿@model IPages<Category>
@inject WebSite.Services.Interfaces.INavDataProvider NavData
@{
    ViewBag.Title = "Categories | " + Model.Current;
}

<div class="row row-eq-height">
    <div class="col-12 h1 mt-3 text-center"><i class="fas fa-th-list"></i> All categories</div>
    @foreach (Category category in Model.Items)
    {
        <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-md-6 col-lg-3 mt-3">
            @await Html.PartialAsync("CategoryCard", category)
        </div>
    }
    <div class="mt-2 col-12 h4">
        @await Html.PartialAsync("Pages", Model)
    </div>
</div>