﻿<!DOCTYPE html>

<html>
<head lang="ru">
    <meta name="viewport" content="width=device-width, intital-scale=1" />
    <link rel="stylesheet" href="~/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/styles.css" />
    <title>@ViewBag.Title</title>
</head>
<body class="bg-white">
    <script src="~/jquery/jquery-3.3.1.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    @await Html.PartialAsync("Navbar")
    <main class="container pb-2 bg-white">
        @RenderBody()
    </main>
    @await Html.PartialAsync("Footer")
    @if (User.Identity.IsAuthenticated)
    {
        @await Html.PartialAsync("AdminNavbar")
    }
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        });

        $("#amount").change(updatePopover);

        function updatePopover() {
            if ($amt.val() < 1)
                $amt.val(1);
            var $pop = $(".btn-add");
            var amt = ($pop.data("cost") * $("#amount").val()).toFixed(2);
            $pop.attr("data-content", "+ " + amt + " $").data("bs.popover").setContent();
        }

        $(".btn-add").on("click", function () {
            $.ajax({
                url: "/Cart/Add",
                method: "GET",
                data: { itemId: $(this).data("id"), amount: $("#amount").val() },
                success: function () {
                    update();
                    $("li#sum.d-none").removeClass("d-none");
                }
            });
        });

        $('.btn-add').on('shown.bs.popover', function () {
            var $pop = $(this);
            setTimeout(function () {
                $pop.popover('hide');
            }, 1000);
            setTimeout(function () {
                $pop.popover();
            }, 1200);
        });

        function update() {
            $.ajax({
                url: "/Cart/CurrentSum",
                method: "GET",
                content: "application/json",
                success: function (data) {
                    $("span#sum").html(data + " $");
                }
            });
        }

        var $amt = $("#amount");
        $("#amount-inc").on("click", function () {
            $amt.val(parseInt($amt.val()) + 1);
            updatePopover();
        });
        $("#amount-dec").on("click", function () {
            $amt.val(parseInt($amt.val()) - 1);
            updatePopover();
        });

        update();
    </script>
</body>
</html>
