﻿@inject WebSite.Services.Interfaces.INavDataProvider NavData

<nav class="navbar position-sticky fixed-bottom navbar-expand-lg navbar-dark bg-dark py-1">
    <div class="container">
        <a class="navbar-brand" href="/">Admin tools</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#admin-navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="admin-navbar-content">
            <ul class="navbar-nav mr-auto admin-navbar">
                @if (User.Identity.Name == "Admin")
                {
                    @if ((NavData.Controller == "Items") && (NavData.Action == "Details"))
                    {
                        <li class="nav-item"><a class="nav-link pl-2" href="/Items/Edit/@NavData.Id"><i class="fas fa-edit"></i> Edit current item</a></li>
                    }
                    @if ((NavData.Controller == "Categories") && (NavData.Action == "Details"))
                    {
                        <li class="nav-item"><a class="nav-link pl-2" href="/Categories/Edit/@NavData.Id"><i class="fas fa-edit"></i> Edit current category</a></li>
                        <li class="nav-item"><a class="nav-link pl-2" href="/Items/Add?categoryId=@NavData.Id"><i class="fas fa-plus"></i> Add item to current category</a></li>
                    }
                    @if ((NavData.Controller == "Items") && (NavData.Action == "Index" || NavData.Action == null))
                    {
                        <li class="nav-item"><a class="nav-link pl-2" href="/Items/Add"><i class="fas fa-plus"></i> Add item</a></li>
                    }
                    @if ((NavData.Controller == "Categories") && (NavData.Action == "Index" || NavData.Action == null))
                    {
                        <li class="nav-item"><a class="nav-link pl-2" href="/Categories/Add"><i class="fas fa-plus"></i> Add category</a></li>
                    }
                    @if (NavData.Action == "Edit")
                    {
                        <li class="nav-item"><a class="nav-link pl-2" href="/@NavData.Controller/Details/@NavData.Id"><i class="fas fa-info-circle"></i> Details</a></li>
                    }
                    @if ((NavData.Controller == null) || (NavData.Controller == "Home"))
                    {
                        <li class="nav-item"><a class="nav-link pl-2" href="/Cart/Browse"><i class="fas fa-file-alt"></i> Orders</a></li>
                        <li class="nav-item"><a class="nav-link pl-2" href="/Management/Statistics"><i class="fas fa-chart-bar"></i> Statistics</a></li>
                    }
                }
                else
                {
                    <li class="nav-item"><a class="nav-link pl-2" href="/Cart/Browse"><i class="fas fa-file-alt"></i> Orders</a></li>
                }
            </ul>
            <ul class="navbar-nav ml-auto admin-navbar">
                <li class="nav-item"><a class="nav-link" href="/Home/Logout"><i class="fas fa-sign-out-alt ml-2 ml-lg-0"></i> Close</a></li>
            </ul>
        </div>
    </div>
</nav>