﻿@model Category
@inject WebSite.Services.Interfaces.INavDataProvider NavData

<div class="card border-info h-100">
    <a href="/Categories/Details/@Model.Id"><img class="card-img-top border-info" src="@NavData.CategoriesDirectory@Model.ImageUrl" /></a>
    <div class="card-body">
        <div class="overflow-auto">
            <h5 class="card-title float-left"><a href="/Categories/Details/@Model.Id">@Model.Title</a></h5>
        </div>
        <p class="card-text mb-3">@Model.ShortDescription</p>
        <div>
            <a href="/Categories/Details/@Model.Id" class="btn btn-primary float-right">
                <i class="fas fa-info-circle"></i> Info
            </a>
        </div>
    </div>
</div>