﻿<footer class="bg-info text-white text-center h6 py-3 my-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <strong class="d-block h5 mb-3">Content</strong>
                <p><a href="/Home/Search"><i class="fas fa-search"></i> Search</a></p>
                <p><a href="/Management/Supply"><i class="fas fa-truck"></i> Supply</a></p>
                <p><a href="/Items/Index"><i class="fas fa-th"></i> Items</a></p>
                <p><a href="/Categories/Index"><i class="fas fa-list"></i> Categories</a></p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 pt-3 pt-sm-0">
                <strong class="d-block h5 mb-3">Contacts</strong>
                <p><a href="mailto:contact@cityofficefood.net"><i class="fas fa-envelope"></i> contact@@cityofficefood.net</a></p>
                <p><a href="tel:202-555-1234"><i class="fas fa-phone"></i> 202-555-1234</a></p>
                <p><a href="tel:202-555-4321"><i class="fas fa-phone"></i> 202-555-4321</a></p>
                <p><a href="https://fb.com/cityofficefood"><i class="fab fa-facebook-square"></i> fb.com/cityofficefood</a></p>
            </div>
            <div class="col-12 col-md-4 pt-3 py-md-0">
                <strong class="d-block h5 mb-3">Kirill Kovalyov ITS-21 @@2018</strong>
                <p><a href="mailto:k1rikkk@mail.ru"><i class="fas fa-envelope"></i> K1riKKK@@mail.ru</a></p>
                <p><a href="https://vk.com/k1rikkk"><i class="fab fa-vk"></i> vk.com/K1riKKK</a></p>
            </div>
        </div>
    </div>
</footer>