﻿@model Item
@inject WebSite.Services.Interfaces.INavDataProvider NavData

<div class="card border-info h-100">
    <a href="/Items/Details/@Model.Id"><img class="card-img-top border-info" src="@NavData.ItemsDirectory@Model.ImageUrl" /></a>
    <div class="card-body">
        <h5 class="card-title text-left">
            <span class="badge badge-primary float-right ml-2">@Model.Cost $</span>
            <a href="/Items/Details/@Model.Id">@Model.Title</a>
        </h5>
        <p class="card-text mb-3">@Model.ShortDescription</p>
        <div>
            <a href="/Items/Details/@Model.Id" class="btn btn-outline-info float-left">
                <i class="fas fa-info-circle"></i> Info
            </a>
            <button type="button" class="btn btn-primary float-right btn-add" data-id="@Model.Id" data-template=
                    "<div class='popover' role='tooltip'><div class='arrow'></div><h3 class='popover-header'></h3><div class='popover-body text-primary h5'></div></div>"
                    data-container="body" data-toggle="popover" data-placement="top" data-content="+ @Model.Cost $">
                <i class="fas fa-cart-plus"></i> Add
            </button>
        </div>
    </div>
</div>