﻿@inject WebSite.Services.Interfaces.INavDataProvider NavData
@inject WebSite.Services.Interfaces.ICartProvider Cart

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-info py-1">
    <div class="container">
        <a class="navbar-brand" href="/">City Office Food</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link pl-2" href="/"><i class="fas fa-home"></i> Home</a></li>
                <li class="nav-item"><a class="nav-link pl-2" href="/Management/Supply"><i class="fas fa-truck"></i> Supply</a></li>
                <li class="nav-item"><a class="nav-link pl-2" href="/Items/Index"><i class="fas fa-th"></i> Items</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link pl-2 dropdown-toggle" href="#" id="navbar-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-list-ul"></i> Categories
                    </a>
                    <div class="dropdown-menu bg-info" aria-labelledby="navbar-dropdown">
                        @foreach (Category category in NavData.Categories)
                        {
                            <a class="dropdown-item pl-3 ml-1 ml-lg-0" href="/Categories/Details/@category.Id">@category.Title</a>
                        }
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item pl-3 ml-1 ml-lg-auto" href="/Categories/Index">All categories</a>
                    </div>
                </li>
                <li id="sum" class="nav-item @(await Cart.GetSum() > 0 ? "" : "d-none")"><a class="nav-link pl-2" href="/Cart/Index"><i class="fas fa-shopping-cart"></i> Cart <span id="sum">0</span></a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0 form-search" action="/Home/Search">
                <div class="input-group col-12">
                    <input class="form-control" type="search" name="query" placeholder="Search..">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary btn-search" type="submit"> <i class="fas fa-search"></i> </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>