﻿@model IPagesRaw

<ul class="pagination justify-content-center mb-0">
    <li class="page-item">
        <a class="page-link bg-info text-white" href="@Model.GetHtml(Model.Current - 1)"><i class="fas fa-chevron-left"></i> <span class="d-none d-sm-inline">Previous</span></a>
    </li>
    @if (Model.Current > 1)
    {
        <li class="page-item"><a class="page-link" href="@Model.GetHtml(1)">1</a></li>
    }
    @if (Model.PagesGenerator.ShowPreDots)
    {
        <li class="page-item disabled"><a class="page-link" href="javascript:void(0)">..</a></li>
    }
    @foreach (int current in Model.PagesGenerator.PrePages)
    {
        <li class="page-item"><a class="page-link" href="@Model.GetHtml(current)">@current</a></li>
    }
    <li class="page-item active"><a class="page-link" href="@Model.GetHtml(Model.Current)">@Model.Current</a></li>
    @foreach (int current in Model.PagesGenerator.PostPages)
    {
        <li class="page-item"><a class="page-link" href="@Model.GetHtml(current)">@current</a></li>
    }
    @if (Model.PagesGenerator.ShowPostDots)
    {
        <li class="page-item disabled"><a class="page-link" href="javascript:void(0)">..</a></li>
    }
    @if (Model.Current < Model.Total)
    {
        <li class="page-item"><a class="page-link" href="@Model.GetHtml(Model.Total)">@Model.Total</a></li>
    }
    <li class="page-item">
        <a class="page-link bg-info text-white" href="@Model.GetHtml(Model.Current + 1)"><span class="d-none d-sm-inline">Next</span> <i class="fas fa-chevron-right"></i></a>
    </li>
</ul>