﻿canvas#carts {
    height: 400px;
}

.cart-amount {
    width: 4em;
}

.mh-400 {
    min-height: 800px;
}

.badge {
    overflow: hidden;
}

.card {
    overflow: hidden;
}

textarea {
    resize: vertical;
}

.card .card-img-top {
    border-bottom: 1px solid #000000;
}

    .card .card-img-bg {
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0.3;
    }

.card .card-body {
    z-index: 1;
}

.card {
    transition: all 0.1s 0s linear;
}

    .card:hover, .card:hover .card-img-top {
        transition: all 0.1s 0s linear;
        border-color: #004cea !important;
    }

input[name=amount] {
    font-size: 22px;
}

.overflow-auto {
    overflow: auto;
}

@media (max-width: 991px) {
    .item-details {
        border-bottom: 1px solid #ffffff;
    }
}

@media (min-width: 992px) {
    .item-details {
        border-right: 1px solid #ffffff;
    }

    main {
        min-height: 700px;
    }
}

/*----------------  Footer  ----------------*/

footer a {
    color: #D1ECF1;
}

    footer a:hover {
        color: #ffffff;
    }

@media (max-width: 575px) {
    footer div.col-12:nth-child(2) {
        border-top: 1px solid #ffffff;
    }
}

@media (max-width: 767px) {
    footer div.col-12:last-child {
        border-top: 1px solid #ffffff;
    }
}

@media (min-width: 576px) {
    footer div.col-12:last-child {
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
    }

    footer div.col-12:nth-child(n-2) {
        border-left: 1px solid #ffffff;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    footer div.col-12:nth-child(2) {
        border-right: 1px solid #ffffff;
    }
}

/*----------------  Navbar  --------------------*/

button.btn-search {
    background-color: #ffffff;
}

a.nav-link, a.dropdown-item {
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 19px;
    border-width: 0;
    border-color: #17A2B8;
    border-style: solid;
    border-bottom-width: 2px;
}

a.dropdown-item {
    border-bottom-width: 0;
    border-left-width: 2px;
    margin-bottom: 2px;
    margin-left: 1px !important;
    width: auto;
}

    a.dropdown-item:last-child {
        margin-bottom: 0;
    }

    a.nav-link:hover, a.dropdown-item:hover, a.nav-link:focus, a.dropdown-item:focus {
        color: rgba(255, 255, 255, 1) !important;
        border-color: #ffffff;
        background-color: inherit;
    }

/*-------------------------------------------------*/

.admin-navbar a {
    font-weight: bold;
    color: #ffffff !important;
    border-color: #ffffff;
}

@media (min-width: 992px) {
    a.nav-link, a.dropdown-item {
        margin-left: 2px;
    }

    .form-search {
        width: 15em;
    }
}

@media (max-width: 991px) {
    a.nav-link, a.dropdown-item {
        border-bottom-width: 0;
        border-left-width: 2px;
        margin-bottom: 2px !important;
    }

    a.nav-link {
        margin-bottom: 2px;
    }

        a.nav-link:last-child {
            margin-bottom: 0;
        }

    .navbar-toggler {
        z-index: 1;
    }

    .navbar-brand {
        position: absolute;
        left: 0;
        top: 4px;
        width: 100%;
        text-align: center;
    }
}

.navbar-toggler {
    font-size: 30px;
}

/*------------  Carousel    ----------------*/

.carousel-control-prev, .carousel-control-next {
    font-size: 29px;
}

.carousel-indicators li {
    background-color: #93c7ff;
}

    .carousel-indicators li.active {
        background-color: #007bff;
    }

.carousel-inner {
    border: 1px solid #141719;
}

.carousel-caption a {
    width: 8em;
}