﻿@{ 
    ViewBag.Title = "Admin tools";
}

<div class="row">
    <form class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-2" method="post">
        <h2 class="text-center"><i class="fas fa-sign-in-alt"></i> Enter key to open administrative tools</h2>
        <input class="form-control" type="password" name="id" />
        <span class="text-danger">@ViewBag.Message</span>
        <button type="submit" class="form-control btn btn-primary mt-2"><i class="fas fa-check"></i> Sign in</button>
    </form>
</div>