﻿@model HomeView
@inject WebSite.Services.Interfaces.INavDataProvider NavData
@{
    ViewBag.Title = "City Office Food | Home";
}

<div class="row">
    <div id="carousel-indicators" class="carousel slide col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 py-2" data-ride="carousel" data-interval="2000">
        <ol class="carousel-indicators text-dark">
            <li data-target="#carousel-indicators" data-slide-to="0" class="active"></li>
            @for (int i = 1; i < Model.Categories.Count; i++)
            {
                <li data-target="#carousel-indicators" data-slide-to="@i"></li>
            }
        </ol>
        <div class="carousel-inner border-info">
            <div class="carousel-item active">
                <a href="/Categories/Details/@Model.Categories[0].Id"><img class="d-block w-100" src="@NavData.CategoriesDirectory@Model.Categories[0].ImageUrl"></a>
                <div class="carousel-caption border-info d-none d-sm-block text-dark card py-0 my-0 py-md-1">
                    <h5><a href="/Categories/Details/@Model.Categories[0].Id">@Model.Categories[0].Title</a></h5>
                    <p class="d-none d-md-block">@Model.Categories[0].ShortDescription</p>
                </div>
            </div>
            @for (int i = 1; i < Model.Categories.Count; i++)
            {
                Category category = Model.Categories[i];
                <div class="carousel-item">
                    <a href="/Categories/Details/@category.Id"><img class="d-block w-100" src="@NavData.CategoriesDirectory@category.ImageUrl"></a>
                    <div class="carousel-caption border-info d-none d-sm-block text-dark card py-0 my-0 py-md-1">
                        <h5><a href="/Categories/Details/@category.Id">@category.Title</a></h5>
                        <p class="d-none d-md-block">@category.ShortDescription</p>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carousel-indicators" role="button" data-slide="prev">
            <i class="fas fa-chevron-circle-left text-primary"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-indicators" role="button" data-slide="next">
            <i class="fas fa-chevron-circle-right text-primary"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container mt-2 categories">
    <h2 class="text-center"><i class="fas fa-star text-primary"></i> Top categories <i class="fas fa-star text-primary d-none d-sm-inline"></i></h2>
    <div class="row row-eq-height">
        @for (int i = 0; i < Model.TopCategories.Count - 1; i++)
        {
            <div class="p-2 col-12 col-sm-6 col-md-4 col-lg-3">
                @await Html.PartialAsync("CategoryCard", Model.TopCategories[i])
            </div>
        }
        <div class="p-2 col-12 col-sm-6 d-md-none d-lg-block col-lg-3">
            @await Html.PartialAsync("CategoryCard", Model.TopCategories.Last())
        </div>
    </div>
    <h4 class="text-center text-sm-right"><a class="btn btn-outline-info" href="/Categories/Index"><i class="fas fa-list"></i> All categories..</a></h4>
</div>
<div class="container mt-2 topitems">
    <h2 class="text-center"><i class="fas fa-star text-primary"></i> Most rated items <i class="fas fa-star text-primary d-none d-sm-inline"></i></h2>
    <div class="row row-eq-height">
        @for (int i = 0; i < Model.MostRated.Count - 1; i++)
        {
            <div class="p-2 col-10 offset-1 offset-sm-0 col-sm-6 col-md-4 col-lg-3">
                @await Html.PartialAsync("ItemCard", Model.MostRated[i])
            </div>
        }
        <div class="p-2 col-10 offset-1 offset-sm-0 col-sm-6 col-md-3 col-lg-3 d-md-none d-lg-block">
            @await Html.PartialAsync("ItemCard", Model.MostRated.Last())
        </div>
    </div>
    <h4 class="text-center text-sm-right"><a class="btn btn-outline-info" href="/Items/Index"><i class="fas fa-list"></i> All items..</a></h4>
</div>