﻿@model SearchView
@{
    ViewBag.Title = "Search: " + Model.Query;
}

<div class="row row-eq-height">
    <form class="mt-2 col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3" action="/Home/Search">
        <h2 class="text-center"><i class="fas fa-search"></i> Search</h2>
        <div class="input-group">
            <div class="input-group-prepend">
                <strong class="form-control">Order by:</strong>
            </div>
            <label class="form-control"><input type="radio" name="sort" value="0" @(Model.OrderByTitle ? "checked" : "") /> Name</label>
            <label class="form-control"><input type="radio" name="sort" value="1" @(Model.OrderByCost ? "checked" : "") /> Cost</label>
        </div>
        <div class="input-group mt-1">
            <input class="form-control" type="search" name="query" placeholder="Words to find.." value="@Model.Query">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Search</button>
            </div>
        </div>
    </form>

    <div class="col-12 h1 mt-3 text-center"><i class="fas fa-th"></i> Results</div>
    @foreach (Item item in Model.Pages.Items)
    {
        <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-md-6 col-lg-3 mt-3">
            @await Html.PartialAsync("ItemCard", item)
        </div>
    }

    <div class="mt-2 col-12 h4">
        @await Html.PartialAsync("Pages", Model.Pages)
    </div>
</div>