﻿@model CartsBrowserView
@{ 
    ViewBag.Title = "Carts";
}

<div class="row">
    <form class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 pt-2" method="get">
        <label class="form-control h5 mt-3"><input type="checkbox" value="true" name="showDone" @(Model.ShowDone ? "checked" : "") /> Show done</label>
        <input type="hidden" name="showDone" value="false" />
        <label class="form-control h5"><input type="checkbox" value="true" name="showUnprocessable" @(Model.ShowUnprocessable ? "checked" : "") /> Show unprocessable</label>
        <input type="hidden" name="showDone" value="false" />
        <label class="form-control h5"><input type="checkbox" value="true" name="autoReload" @(Model.AutoReload ? "checked" : "") /> Auto-reload</label>
        <input type="hidden" name="autoReload" value="false" />
        <input type="number" class="form-control" min="1" value="@(Model.ReloadInterval != 0 ? Model.ReloadInterval.ToString() : "")" name="reloadInterval" placeholder="Interval" @(Model.AutoReload ? "" : "disabled") />
        <button type="submit" id="apply" class="btn btn-primary mt-2 form-control"><i class="fas fa-check"></i> Apply</button>
    </form>
    <div class="table-responsive mt-5">
        <h2 class="text-center mb-3"><i class="fas fa-file-alt"></i> All carts</h2>
        <h6 id="timer" class="mb-3 text-center text-muted @(Model.AutoReload ? "" : "d-none")">Page will be reloaded in @Model.ReloadInterval second(s)</h6>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Maked on</th>
                    <th>Address</th>
                    <th>Phone number</th>
                    <th>Info</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Cart cart in Model.Carts)
                {
                    <tr>
                        <td>@cart.Id</td>
                        <td>@cart.LastUpdate</td>
                        <td>@cart.Address</td>
                        <td><a href="tel:@cart.PhoneNumber">@cart.PhoneNumber</a></td>
                        <td>@(cart.Info ?? "No description")</td>
                        <td><a href="/Cart/Details/@cart.Id" class="btn btn-info">Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $("input[name=autoReload]").change(function () {
        var $val = $("input[name=reloadInterval");
        if (this.checked)
            $val.removeAttr("disabled");
        else
            $val.attr("disabled", "disabled");
    });
</script>
@if (Model.AutoReload)
{
    <script>
        setTimeout(function () {
            location = ''
        }, @Model.ReloadInterval * 1000);
        var $timer = $("#timer");
        var seconds = @Model.ReloadInterval;
        setInterval(function () {
            seconds--;
            $timer.html("Page will be reloaded in " + seconds + " second(s)");
        }, 1000);
    </script>
}