﻿@model Cart
@{
    ViewBag.Title = "Cart #" + Model.Id;
}

<div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 pt-2">
        <h2 class="text-center">
            Cart #@Model.Id
            @if (Model.IsDone)
            {
                <span class="badge badge-primary">Done</span>
            }
        </h2>
        <h5>Address</h5>
        <input type="text" value="@Model.Address" class="form-control" readonly />
        <br />
        <h5>Phone number</h5>
        <input type="text" value="@Model.PhoneNumber" class="form-control" readonly />
        <br />
        <h5>Other info</h5>
        <input type="text" value="@Model.Info" class="form-control" readonly />
        <br />
        <h5>Made on</h5>
        <input type="text" value="@Model.LastUpdate" class="form-control" readonly />
        <br />
        <form method="post">
            <div class="input-group">
                <label class="h5 form-control"><input type="radio" name="status" value="0" @((!Model.IsDone) && (!Model.Unproccesable) ? "checked" : "") /> None</label>
                <label class="h5 form-control"><input type="radio" name="status" value="1" @(Model.IsDone ? "checked" : "") /> Done</label>
                <label class="h5 form-control"><input type="radio" name="status" value="2" @(Model.Unproccesable ? "checked" : "") /> Unprocessable</label>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary form-control"><i class="fas fa-check"></i> Apply</button>
                </div>
            </div>
        </form>
        <h2 class="text-center mt-4"><i class="fas fa-th"></i> Items</h2>
        <div class="table-responsive">
            <table class="table table-striped col-12 mt-2">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Cost</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.CartItems.Count; i++)
                    {
                        <tr>
                            <td>@Model.CartItems[i].Item.Title</td>
                            <td>@Model.CartItems[i].Item.Description</td>
                            <td><span class="text-nowrap">@Model.CartItems[i].Item.Cost $</span></td>
                            <td>@Model.CartItems[i].Amount</td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td><strong>Total:</strong></td>
                        <td><strong class="text-nowrap">@Model.TotalSum $</strong></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>