﻿@model Cart
@{ 
    ViewBag.Title = "Cart";
}

<div class="row">
    <form class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3" method="post">
        <h2 class="text-center mt-2"><i class="fas fa-shopping-cart"></i> Cart details</h2>
        <input type="hidden" asp-for="Id" />
        <h5>Address</h5>
        <input type="text" asp-for="Address" class="form-control" />
        <span class="text-danger" asp-validation-for="Address"></span>
        <br />
        <h5>Phone number</h5>
        <input type="text" asp-for="PhoneNumber" class="form-control" />
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
        <br />
        <h5>Other info</h5>
        <textarea type="text" asp-for="Info" class="form-control" rows="3"></textarea>
        <span class="text-danger" asp-validation-for="Info"></span>
        <br />
        <div class="table-responsive">
            <table class="table table-striped col-12">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Cost</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.CartItems.Count; i++)
                    {
                        <tr>
                            <td>@Model.CartItems[i].Item.Title</td>
                            <td>@Model.CartItems[i].Item.Description</td>
                            <td><span class="text-nowrap">@Model.CartItems[i].Item.Cost $</span></td>
                            <td><input readonly type="number" min="1" asp-for="CartItems[i].Amount" class="form-control cart-amount text-center" /></td>
                            <td><button type="button" data-item-id="@Model.CartItems[i].ItemId" class="btn btn-danger btn-remove"><i class="fas fa-times"></i></button></td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td><strong>Total:</strong></td>
                        <td><strong class="text-nowrap">@Model.TotalSum $</strong></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="submit" class="form-control btn btn-primary"><i class="fas fa-check"></i> Continue</button>
    </form>
    <script>
        $(".btn-remove").click(function () {
            window.location = "/Cart/Remove?itemId=" + $(this).data("item-id");
        });
    </script>
</div>