﻿@{ 
    ViewBag.Title = "Order complete";
}

<h1 class="text-success text-center mt-4"><i class="fas fa-star"></i> Thank you for choosing us</h1>
<h3 class="text-success text-center mt-4">Your meals will be supplied in 30 minutes</h3>
<h1 class="text-success text-center my-4"><i class="fas fa-utensils"></i> Bon appetit</h1>