﻿<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 py-4">
    <h2 class="text-center text-danger">Sorry, some error occured</h2>
    <h4 class="text-center text-muted">Try to request later</h4>
</div>