﻿@model StatisticsView
@{ 
    ViewBag.Title = "Statistics";
}

<div class="row my-2">
    <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h2 class="text-center"><i class="fas fa-star"></i> Top items (last month)</h2>
        <canvas id="items-rating"></canvas>
        <br />
        <h2 class="text-center"><i class="fas fa-star"></i> Top categories (last month)</h2>
        <canvas id="categories-rating"></canvas>
        <br />
        <h2 class="text-center"><i class="fas fa-star"></i> Total monthly carts sum</h2>
        <canvas id="monthly-sums"></canvas>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
@await Html.PartialAsync("Chart", new ChartView("pie", "items-rating", Model.TopItems))
@await Html.PartialAsync("Chart", new ChartView("pie", "categories-rating", Model.TopCategories))
@await Html.PartialAsync("Chart", new ChartView("bar", "monthly-sums", Model.MonthlyCartsTotalSum))