﻿<div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 py-3">
        <h4>Supply</h4>
        Lorem ipsum morbi fusce a scelerisque vehicula urna ipsum, libero lacus primis facilisis
        potenti nisl nullam quisque congue, pellentesque primis gravida nam a elit vivamus volutpat
        eleifend porta sollicitudin.
        <div class="row h4 mt-3">
            <div class="col-sm-6"><span class="badge badge-info w-100 py-3"><i class="fas fa-clock"></i> 30 minutes</span></div>
            <div class="col-sm-6 mt-1 mt-sm-0"><span class="badge badge-info w-100 py-3"><i class="fas fa-map-marker"></i> Anywhere</span></div>
            <div class="col-12 mt-1"><span class="badge badge-info w-100 py-3"><i class="fas fa-dollar-sign"></i> Payment upon receipt</span></div>
        </div>
    </div>
</div>