﻿@model OtherDetailsView<Item>
@inject WebSite.Services.Interfaces.INavDataProvider NavData
@{ 
    ViewBag.Title = Model.Model.Title;
}

<div class="row">
    <div class="col-12 col-lg-6 py-3 px-5 border-info item-details">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-10 offset-lg-1">
            <h1 class="text-center"><i class="fas fa-th"></i> @Model.Model.Title</h1>
            <img class="w-100 my-2 border-info border-top border-bottom border-left border-right ???" src="@NavData.ItemsDirectory@Model.Model.ImageUrl" />
            <div class="overflow-auto">
                <h3 class="float-left"><a class="text-muted" href="/Categories/Details/@Model.Model.CategoryId">@Model.Model.Category.Title</a></h3>
                <h3 class="float-right"><span class="badge badge-primary">@Model.Model.Cost $</span></h3>
            </div>
            <p class="my-2 h5">@Model.Model.Description</p>
            <div class="col-12 p-0">
                <div class="row">
                    <div class="input-group col-12 col-sm-6 px-lg-1">
                        <div class="input-group-prepend">
                            <button id="amount-dec" type="button" class="btn btn-info"><i class="fas fa-minus"></i></button>
                        </div>
                        <input type="number" id="amount" class="form-control text-center" value="1" />
                        <div class="input-group-append">
                            <button id="amount-inc" type="button" class="btn btn-info"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mt-2 mt-sm-0 px-lg-1">
                        <button type="button" class="btn btn-primary float-right btn-add" data-id="@Model.Model.Id" data-cost="@Model.Model.Cost.ToString().Replace(',', '.')" data-template=
                                "<div class='popover' role='tooltip'><div class='arrow'></div><h3 class='popover-header'></h3><div class='popover-body text-primary h5'></div></div>"
                                data-container="body" data-toggle="popover" data-placement="top" data-content="+ @Model.Model.Cost $">
                            <i class="fas fa-cart-plus"></i> Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">  
        <div class="row p-3">
            <h3 class="col-12 text-center"><i class="fas fa-th"></i> Other <a href="/Categories/Details/@Model.Model.CategoryId">@Model.Model.Category.Title</a></h3>
            @foreach (Item item in Model.Other)
            {
                <div class="p-2 col-10 offset-1 offset-sm-0 col-sm-6">
                    @await Html.PartialAsync("ItemCard", item)
                </div>
            }
        </div>
    </div>
</div>