﻿@model Item
@inject WebSite.Services.Interfaces.INavDataProvider NavData
@{ 
    ViewBag.Title = (ViewBag.Adding ?? false == true ? "Add " : "Edit ") + "item";
}

<div class="row">
    <form class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 pt-2" method="post" enctype="multipart/form-data">
        @if (ViewBag.Adding ?? false == true)
        {
            <h2 class="text-center"><i class="fas fa-plus"></i> Add item</h2>
        }
        else
        {
            <h2 class="text-center"><i class="fas fa-edit"></i> Edit item #@Model.Id</h2>
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="hidden" name="ImageUrl" value="@Model.ImageUrl" />
        }
        <h5>Title</h5>
        <input asp-for="Title" class="form-control" />
        <span class="text-danger" asp-validation-for="Title"></span>
        <br />
        <h5>Description</h5>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
        <br />
        <h5>Cost, $</h5>
        <input name="Cost" value="@(Model.Cost == 0 ? "" : Model.Cost.ToString())" class="form-control" />
        <span class="text-danger" asp-validation-for="Cost"></span>
        <br />
        <h5>CategoryId</h5>
        <select name="CategoryId" class="form-control">
            <option value="0" selected="@(Model.CategoryId == 0)">Not selected</option>
            @foreach (Category category in NavData.Categories)
            {
                <option value="@category.Id" selected="@(Model.CategoryId == category.Id)">@category.Title</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="CategoryId"></span>
        <br />
        <h5>Change image (400x400 reccomended)</h5>
        <input type="file" name="image" class="form-control" />
        <span class="text-danger" asp-validation-for="ImageUrl"></span>
        <br />
        <button type="submit" class="form-control btn btn-info"><i class="fas fa-check"></i> Save</button>
        @if (ViewBag.Adding ?? false == false)
        {
            <br />                
            <button type="button" class="mt-2 form-control btn btn-outline-danger" data-toggle="modal" data-target="#remove">
                <i class="fas fa-times"></i>
                Remove
            </button>
            @await Html.PartialAsync("RemoveDialog", new RemoveDialogView { BodyText = "Are you sure to remove item?", FormAction = "/Items/Remove" })
        }
    </form>
</div>