﻿@model IPages<Item>
@inject WebSite.Services.Interfaces.INavDataProvider NavData
@{
    ViewBag.Title = "Items | " + Model.Current;
}

<div class="row row-eq-height">
    <div class="col-12 h1 mt-3 text-center"><i class="fas fa-th"></i> All items</div>
    @foreach (Item item in Model.Items)
    {
        <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-md-6 col-lg-3 mt-3">
            @await Html.PartialAsync("ItemCard", item)
        </div>
    }

    <div class="mt-2 col-12 h4">
        @await Html.PartialAsync("Pages", Model)
    </div>
</div>